---

---

@import 'variables';

html {
    color: white;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body {
    margin: 0;
}
